* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body {
    background: linear-gradient(to right, red, rgb(43, 43, 39));

   background-color: #4a84d6; 
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
}
*/
body{
background-image: url('social.jpg');
background-size:2100px; /* Ensure the image covers the entire background */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Prevent the image from repeating */
width: 400;
height: 400;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: Arial, sans-serif;
color: #fff;
}
.dev{

    border: solid 3px;
    color: #25D366;
    margin-top: 50px;
   
}

.dev:hover{
    color: #E4405F;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(29, 52, 79, 0.9); 
    border-radius: 10px;
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(79, 2, 233, 0.1); 
}

h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(19, 107, 127, 0.7); 
    padding: 20px;
    border-radius: 10px;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
    transition: all 0.3s ease-out;
}

.icon:hover {
    width: 120px;
    height: 120px;
    cursor: pointer;
    color: #fff;
    background: #2980b9; 
    box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.5);
}

.icon:hover i {
    color: #fff;
}

.icon .fa-facebook-f {
    color: #1A6ED8;
}

.fb:hover {
    background: #1A6ED8;
}

.icon .fa-twitter {
    color: #1DA1F2;
}

.twt:hover {
    background: #1DA1F2;
}

.icon .fa-instagram {
    color: #E4405F;
}

.ig:hover {
    background: #E4405F;
}

.icon .fa-tiktok {
    color: #121212;
}

.tt:hover {
    background: #030303;
}

.icon .fa-github {
    color: #000;
}

.git:hover {
    background: #000;
}

.icon .fa-whatsapp {
    color: #25D366; 
}

.wa:hover {
    background: #25D366; 
}

/* responsive */
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .main {
        flex-direction: column;
    }
}

